<div class="dialog-title d-flex justify-content-between align-items-baseline">
  <h2 mat-dialog-title>Список заявок завдання</h2>

  <button mat-dialog-close mat-icon-button color="warn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <app-table
    [style.flex]="'1'"
    [hovered]="true"
    [bordered]="true"
    [errorStatus]="'Не виконано'"
    [tableData]="taskList | async"
    [pagination]="true"
  >
    <app-column
      [columnTitle]="'Час'"
      [columnName]="'favorTime'"
      [enableSorting]="true"
      [width]="80"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Район'"
      [columnName]="'district'"
      [width]="120"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Вулиця клієнта'"
      [columnName]="'street'"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Буд.'"
      [columnName]="'house'"
      [width]="20"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Кв.'"
      [columnName]="'apartment'"
      [width]="20"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'ПІБ Клієнта'"
      [columnName]="'client'"
      [enableFiltering]="true"
    >
    </app-column>

    <app-column
      [columnTitle]="'Надавач послуг'"
      [columnName]="'serviceProvider'"
      [width]="180"
      [enableFiltering]="true"
    >
      <ng-template #tableBodyTemplate let-row="row">
        {{ providersSv.getProviderById(row['serviceProvider']) }}
      </ng-template>
    </app-column>

    <app-column
      [columnTitle]="'Дата додання'"
      [columnName]="'addingDate'"
      [width]="80"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Телефон'"
      [columnName]="'phoneNumber'"
      [width]="110"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Примітка'"
      [columnName]="'note'"
      [enableFiltering]="true"
    >
    </app-column>

    <app-column [columnTitle]="''" [width]="140">
      <ng-template #tableBodyTemplate let-row="row">
        <div class="actions-row">
          <button mat-icon-button (click)="deleteFromTask(row['applicationNumber'])">
            <mat-icon class="color-info" matTooltip="Повернути до планування"
              >settings_backup_restore</mat-icon
            >
          </button>

          <button mat-icon-button (click)="rejectVerification(row['applicationNumber'])">
            <mat-icon class="color-error" matTooltip="Відхилити повірку">cancel</mat-icon>
          </button>

          <button mat-icon-button (click)="detailView(row['applicationNumber'])">
            <mat-icon class="color-info" matTooltip="Інформація">info</mat-icon>
          </button>

          <button *ngIf="!data.unresolved" mat-icon-button (click)="checkForDuplicate(row)">
            <i class="far fa-copy color-info" matTooltip="Перевірити на дублі"></i>
          </button>

          <button
            *ngIf="!data.unresolved"
            mat-icon-button
            (click)="clientInaccesable(row['applicationNumber'])"
          >
            <mat-icon class="color-error" matTooltip="Недозвон">phone_missed</mat-icon>
          </button>
        </div>
      </ng-template>
    </app-column>
  </app-table>
</div>
