<h2 mat-dialog-title>Список заявок завдання</h2>

<div mat-dialog-content>
  <app-table
    [style.minHeight]="'100%'"
    [hovered]="true"
    [bordered]="true"
    [errorStatus]="'Не виконано'"
    [tableData]="taskList | async"
    [pagination]="true"
  >
    <app-column
      [columnTitle]="'Час завдання'"
      [columnName]="'favorTime'"
      [width]="100"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Район'"
      [columnName]="'district'"
      [enableSorting]="true"
      [width]="120"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Вулиця клієнта'"
      [columnName]="'street'"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Буд.'"
      [columnName]="'house'"
      [width]="50"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Кв.'"
      [columnName]="'apartment'"
      [width]="50"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'ПІБ Клієнта'"
      [columnName]="'client'"
      [enableSorting]="true"
      [enableFiltering]="true"
    >
    </app-column>

    <app-column
      [columnTitle]="'Надавач послуг'"
      [columnName]="'serviceProvider'"
      [width]="180"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Дата додання'"
      [columnName]="'addingDate'"
      [width]="90"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Номер телефону'"
      [columnName]="'phoneNumber'"
      [enableSorting]="true"
      [enableFiltering]="true"
    ></app-column>

    <app-column
      [columnTitle]="'Примітка'"
      [columnName]="'note'"
      [enableSorting]="true"
      [enableFiltering]="true"
    >
    </app-column>

    <app-column [columnTitle]="''" [width]="140">
      <ng-template #tableBodyTemplate let-row="row">
        <div class="actions-row">
          <button mat-icon-button (click)="deleteFromTask(row['applicationNumber'])">
            <mat-icon class="color-info" matTooltip="Повернути до планування"
              >settings_backup_restore</mat-icon
            >
          </button>

          <button mat-icon-button (click)="rejectVerification(row['applicationNumber'])">
            <mat-icon class="color-error" matTooltip="Відхилити повірку">cancel</mat-icon>
          </button>

          <button mat-icon-button (click)="detailView(row['applicationNumber'])">
            <mat-icon class="color-info" matTooltip="Інформація">info</mat-icon>
          </button>

          <button *ngIf="!data.unresolved" mat-icon-button (click)="checkForDuplicate(row)">
            <i class="far fa-copy color-info" matTooltip="Перевірити на дублі"></i>
          </button>

          <button *ngIf="!data.unresolved" mat-icon-button (click)="clientInaccesable(row['applicationNumber'])">
            <mat-icon class="color-error" matTooltip="Недозвон">phone_missed</mat-icon>
          </button>
        </div>
      </ng-template>
    </app-column>
  </app-table>
</div>
