<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      Загальні відомості
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
    </ng-template>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Далі</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header>
      Місцезнаходженя
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="full-width">
        <span>Область</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Область">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Район</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Район">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Населений пункт</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Населений пункт">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Індекс</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Індекс">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Вулиця</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Вулиця">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Будинок</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Будинок">
        </mat-form-field>
      </div>
      <div class="full-width">
        <span>Квартира</span>
        <mat-form-field class="input-field">
          <input matInput placeholder="Квартира">
        </mat-form-field>
      </div>
			<div class="full-width inline">
				<div class="d-flex justify-content-between align-items-center">
					<span>Провести повірку з демонтажом</span>
					<mat-checkbox></mat-checkbox>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<mat-checkbox [labelPosition]="'before'">Перевірено на дублі </mat-checkbox>
					<button mat-button color="primary"><i class="icofont-copy"></i></button>
				</div>
			</div>
    </ng-template>
    
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Назад</button>
      <button mat-button color="primary" (click)="nextStep()">Далі</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
    <mat-expansion-panel-header>
      Лічильник
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
    </ng-template>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Назад</button>
      <button mat-button color="primary" (click)="nextStep()">Далі</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
    <mat-expansion-panel-header>
      Додаткова інформація
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
    </ng-template>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Назад</button>
      <button mat-button color="primary" (click)="nextStep()">Завершити</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
