@import "../../../../../assets/sass/variables";

:host {
	.form {
	  min-width: 150px;
	  max-width: 500px;
	  width: 100%;
	}

	.full-width {
		align-items: center;
		display: flex;
		justify-content: space-between;
	  width: 100%;

		&.inline {
			> * {
				width: 38%;
			}
		}
		.input-field {
			width: 65%;
		}
	}
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: $module-rem;

    :first-child {
      margin-right: $module-rem / 2; 
    }
  }
}