<div class="dialog-title d-flex justify-content-between align-items-baseline">
  <h2 mat-dialog-title>Створення повірки</h2>

  <button mat-dialog-close mat-icon-button color="warn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      Загальні відомості
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <form [formGroup]="generalDataForm">
        <div class="full-width">
          <span>Прізвище</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Прізвище" formControlName="surname" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Ім'я</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Ім'я" formControlName="name" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>По-батькові</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="По-батькові" formControlName="middlename" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Номер телефону</span>
          <mat-form-field class="input-field">
            <span class="mr-1" matPrefix>+380</span>
            <input
              matInput
              type="tel"
              pattern="[0-9]{9}"
              #phone
              placeholder="Телефон"
              maxlength="9"
              formControlName="phoneNumber"
            />
            <mat-hint align="end">{{ phone.value.length }} / 9</mat-hint>
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Додатковий номер</span>
          <mat-form-field class="input-field">
            <span class="mr-1" matPrefix>+380</span>
            <input
              type="tel"
              pattern="[0-9]{9}"
              matInput
              #add_phone
              placeholder="Додатковий номер"
              maxlength="9"
              formControlName="additionalPhone"
            />
            <mat-hint align="end">{{ add_phone.value.length }} / 9</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </ng-template>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Далі</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header>
      Місцезнаходженя
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <form [formGroup]="locationForm">
        <div class="full-width">
          <span>Район</span>
          <mat-form-field class="input-field">
            <input
              matInput
              placeholder="Район"
              formControlName="district"
              [matAutocomplete]="district"
            />

            <mat-autocomplete #district="matAutocomplete">
              <mat-option
                *ngFor="let country of filteredDistricts | async"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Населений пункт</span>
          <mat-form-field class="input-field">
            <input
              matInput
              placeholder="Населений пункт"
              formControlName="settlement"
              [matAutocomplete]="auto"
            />

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let country of filteredSettlement | async"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Вулиця</span>
          <mat-form-field class="input-field">
            <input
              matInput
              placeholder="Вулиця"
              formControlName="street"
              [matAutocomplete]="streets"
            />

            <mat-autocomplete #streets="matAutocomplete">
              <mat-option
                *ngFor="let country of filteredStreets | async"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Будинок</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Будинок" formControlName="house" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Квартира</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Квартира" formControlName="apartment" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Лічильник</span>

          <table class="inline-form" cellspacing="0">
            <tr>
              <td class="w-2">
                <mat-form-field>
                  <mat-select formControlName="counterQuantity">
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="6">6</mat-option>
                    <mat-option [value]="7">7</mat-option>
                    <mat-option [value]="8">8</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="w-4">
                <mat-form-field>
                  <mat-select formControlName="serviceType">
                    <mat-option *ngIf="userServices.includes(1)" [value]="1">
                      Холодна вода
                    </mat-option>
                    <mat-option *ngIf="userServices.includes(2)" [value]="2">
                      Гаряча вода
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="w-6">
                <mat-form-field>
                  <mat-select

                    formControlName="serviceProvider"
                  >
                    <mat-option
                      *ngFor="let provider of userProviders"
                      [value]="provider.id"
                    >
                      {{ provider.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>

        <div class="full-width w-100">
          <div class="d-flex justify-content-end w-100 align-items-center">
            <button
              class="ml-4"
              mat-raised-button
              color="primary"
              matTooltip="Перевірити на дублі"
              (click)="checkForDupliacates()"
            >
              <i class="icofont-copy"></i>
            </button>
          </div>
        </div>
      </form>
    </ng-template>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Назад</button>
      <button mat-button color="primary" (click)="nextStep()">Далі</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
    <mat-expansion-panel-header>
      Додаткова інформація
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <form [formGroup]="additionalDataForm">
        <div class="full-width">
          <span>Примітка</span>
          <mat-form-field class="input-field">
            <mat-label>Примітка</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="8"
              cdkAutosizeMaxRows="12"
              formControlName="note"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </ng-template>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Назад</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div class="buttons d-flex">
  <button class="mr-auto" mat-button color="warn" (click)="clearForm()">Очистити</button>
  <button
    *ngIf="user.permission < 6"
    mat-stroked-button
    color="primary"
    (click)="saveByPattern()"
  >
    Зберегти за шаблоном
  </button>
  <button mat-raised-button color="primary" (click)="sendData()">Надіслати</button>
</div>
