<mat-card>
  <mat-card-content>
    <div class="actions">
      <div class="task-actions">
        <button (click)="sendProtocols()" mat-raised-button class="bg-success">
          <i class="icofont-send-mail"></i>
          Надіслати
        </button>
      </div>
    </div>

    <app-table
      #table
      [checkboxes]="true"
      [desiredStatus]="'Передано повірнику'"
      (rowSelected)="onChange($event)"
      [hovered]="true"
      [bordered]="true"
      [tableData]="protocols | async"
      [pagination]="true"
    >
      <app-column
        [date]="true"
        [width]="140"
        [columnTitle]="'Дата створення протоколу'"
        [columnName]="'date'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="220"
        [columnTitle]="'ПІБ Клієнта'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер телефону'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-val>
          {{ val ? '+380' + val : '' }}
        </ng-template>
      </app-column>

      <app-column
        [width]="200"
        [columnTitle]="'Статус'"
        [columnName]="'status'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'Номер лічильника'"
        [columnName]="'counterNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'Населений пункт'"
        [columnName]="'settlement'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Район'"
        [columnName]="'district'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Вулиця'"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
        [width]="220"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Буд.'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="55"
        [columnTitle]="'Кв.'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column [columnTitle]="'Дії'">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button
              mat-icon-button
              (click)="displayProtocol(row['counterNumber'], row['bbiFileName'])"
            >
              <i class="icofont-edit color-info" matTooltip="Переглянути протокол"></i>
            </button>

            <button
              mat-icon-button
              (click)="deleteProtocol(row['counterNumber'], row['protocolNumber'])"
            >
              <mat-icon class="color-error" matTooltip="Видалити файл">
                delete_outline
              </mat-icon>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
