<mat-card>
  <mat-card-content>
    <div class="actions">
      <button mat-raised-button color="primary" class="bg-warning">
        <i class="icofont-delete"></i> Скасувати Дійову Особу
      </button>

      <button mat-raised-button color="warn">
        <i class="icofont-minus"></i>Відхилити Повірку
      </button>
    </div>

    <app-table [tableData]="labRequests" [pagination]="true">
      <app-column>
        <ng-template #headerBodyTemplate>
          <mat-checkbox></mat-checkbox>
        </ng-template>
        <ng-template #tableBodyTemplate>
          <mat-checkbox></mat-checkbox>
        </ng-template>
      </app-column>

<app-column [columnTitle]="'Дата надходження'" [columnName]="'addingDate'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Номер Заявки'" [columnName]="'applicationNumber'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Клієнт'" [columnName]="'client'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Надавач Послуг'" [columnName]="'serviceProvider'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Район'" [columnName]="'district'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Вулиця'" [columnName]="'street'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Будинок'" [columnName]="'house'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Квартира'" [columnName]="'apartment'" [enableSorting]="true" [enableFiltering]="true"></app-column>
<!-- TODO: add fields to Database & Rename fields -->
      <app-column [columnTitle]="'Бажана дата повірки'" [columnName]="'Бажана_дата_повірки'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Cправність Сантехніки'" [columnName]="'Cправність_сантехніки'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Вода відсутня до'" [columnName]="'Вода_відсутня_до'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Наявність пломби'" [columnName]="'haveSeal'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Телефон'" [columnName]="'phoneNumber'" [enableSorting]="true" [enableFiltering]="true"></app-column>

<app-column [columnTitle]="'Примітка'" [columnName]="'note'" [enableSorting]="true" [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Дії'">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button>
              <i class="icofont-ui-user"></i>
            </button>

            <button mat-icon-button>
              <i class="icofont-ui-user color-success"></i>
            </button>

            <button mat-icon-button>
              <i class="icofont-ui-delete color-warning"></i>
            </button>

            <button mat-icon-button>
              <i class="icofont-info-circle color-info"></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
