<h2 mat-dialog-title>Надіслати завдання на станцію</h2>

<mat-dialog-content class="content">
  <mat-form-field>
    <mat-select placeholder="Тип послуги" [(ngModel)]="selectedService">
      <mat-option [value]="'Холодна вода'">
        Холодна вода
      </mat-option>

      <mat-option [value]="'Гаряча вода'">
        Гаряча вода
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Дата завдання" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Виберіть установку" [(ngModel)]="selectedStation">
      <mat-option *ngFor="let station of stations" value="{{ station }}">{{ station }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Скасувати</button>
  <button class="bg-success" mat-raised-button (click)="saveData()">Надіслати</button>
</mat-dialog-actions>
