@import "../../../assets/sass/variables";

:host {
	.actions {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: $module-rem * 2;

		i {
			font-size: 1.2em;
		}

		.task-actions {
			max-width: 400px;

			:first-child {
				margin-right: $module-rem / 2;
			}
		}

		.user-actions {
			max-width: 600px;

			:not(:last-child) {
				margin-right: $module-rem / 2;
			}
		}
	}
}