<mat-card>
  <mat-card-content>
    <div class="actions">
      <div class="task-actions">
        <button
          [disabled]="selectedData.length <= 0"
          mat-raised-button
          class="bg-success"
          (click)="sendData()"
        >
          <mat-icon>send</mat-icon>
          Створити завдання
        </button>
      </div>

      <div class="user-actions">
        <button
          (click)="addVerificationToTask()"
          [disabled]="selectedData.length <= 0"
          mat-raised-button
          class="bg-success"
        >
          <mat-icon>playlist_add</mat-icon>
          Додати в завдання
        </button>

        <button
          (click)="rejectSelectedVerifications()"
          [disabled]="selectedData.length <= 0"
          mat-raised-button
          color="warn"
        >
          <mat-icon class="mr-1">cancel</mat-icon>
          Відхилити Повірку
        </button>
      </div>
    </div>

    <app-table
      #table
      [checkboxes]="true"
      [desiredStatus]="'В роботі'"
      (rowSelected)="onChange($event)"
      [hovered]="true"
      [bordered]="true"
      [tableData]="tableData | async"
      [pagination]="true"
    >
      <app-column
        [columnTitle]="'Дата Надходження '"
        [columnName]="'addingDate'"
        [date]="true"
        [type]="'date'"
        [width]="200"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Клієнт'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
        [width]="235"
      ></app-column>

      <app-column
        [columnTitle]="'Надавач Послуг'"
        [columnName]="'serviceProvider'"
        [enableSorting]="true"
        [enableFiltering]="true"
        [width]="240"
      >
        <ng-template #tableBodyTemplate let-row="row">
          {{ providersSv.getProviderById(row['serviceProvider']) }}
        </ng-template>
      </app-column>

      <app-column
        [width]="110"
        [columnTitle]="'Тип послуги'"
        [columnName]="'serviceType'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-val>
          {{ val == 1 ? 'Холодна' : 'Гаряча' }}
        </ng-template>
      </app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Район'"
        [columnName]="'district'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Вулиця'"
        [width]="200"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="40"
        [columnTitle]="'Буд'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="40"
        [columnTitle]="'Кв'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>
      dd

      <app-column
        [width]="120"
        [columnTitle]="'Телефон'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-val>
          {{ val ? '+380' + val : '' }}
        </ng-template>
      </app-column>

      <app-column
        [width]="280"
        [columnTitle]="'Примітка'"
        [columnName]="'note'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-row="row">
          {{ row['note'] }}
        </ng-template>
      </app-column>

      <app-column [columnTitle]="'Дії'" [width]="140">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button (click)="detailView(row['applicationNumber'])">
              <i class="icon icofont-info-circle color-info" matTooltip="Інформація"></i>
            </button>

            <button mat-icon-button (click)="clientInaccesable(row['applicationNumber'])">
              <mat-icon class="color-error" matTooltip="Недозвон">phone_missed</mat-icon>
            </button>

            <button
              mat-icon-button
              (click)="rejectVerification(row['applicationNumber'])"
            >
              <mat-icon class="color-error" matTooltip="Відхилити повірку">
                cancel
              </mat-icon>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
