<div class="actions">
  <div class="task-actions">
    <button
      [disabled]="selectedData.length <= 0"
      mat-raised-button
      class="bg-success"
      (click)="sendData()"
    >
      <mat-icon>send</mat-icon>
      Створити завдання
    </button>
  </div>

  <div class="user-actions">
    <button
      (click)="addVerificationToTask()"
      [disabled]="selectedData.length <= 0"
      mat-raised-button
      class="bg-success"
    >
      <mat-icon>playlist_add</mat-icon>
      Додати в завдання
    </button>

    <button
      (click)="rejectSelectedVerifications()"
      [disabled]="selectedData.length <= 0"
      mat-raised-button
      color="warn"
    >
      <mat-icon class="mr-1">cancel</mat-icon>
      Відхилити Повірку
    </button>
  </div>
</div>

<app-ver-table [tableData]="tableData" [columnList]="columnList"></app-ver-table>
