<!-- Заявки Для Надавача Послуг -->
<mat-card>
  <mat-card-content>
    <div class="actions"> </div>

    <app-table [checkboxes]="true" (rowSelected)="onChange($event)" [desiredStatus]="" [hovered]="true" [bordered]="true" [tableData]="(providerRequests | async)" [pagination]="true">

      <app-column [date]="true" [columnTitle]="'Дата надходження'" [columnName]="'Дата_надходження'"
        [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Номер заявки'" [columnName]="'Номер_заявки'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Клієнт'" [columnName]="'Клієнт'" [enableSorting]="true" [enableFiltering]="true">
      </app-column>

      <app-column [width]="115" [columnTitle]="'Район'" [columnName]="'Район'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Населений пункт'" [columnName]="'Населений_пункт'"
        [enableSorting]="true" [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Вулиця'" [columnName]="'Вулиця_клієнта'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="110" [columnTitle]="'Буд., Кв.'" [columnName]="'Будинок_квартира'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="110" [columnTitle]="'Надавач послуг'" [columnName]="'Надавач_послуг'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Дії'">

      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
