<!-- Завдання Для Станцій -->
<mat-card>
  <mat-card-content>
    <div class="actions">
      <button
        [disabled]="selectedStatus !== taskStatuses.New"
        mat-raised-button
        class="bg-success"
        (click)="sendData()"
      >
        <i class="icon icofont-paper-plane"></i>
        Надіслати завдання
      </button>

      <div class="user-actions top-page-action">
        <mat-form-field appearance="outline">
          <mat-label>Тип завдань</mat-label>
          <mat-select [(ngModel)]="selectedStatus" (valueChange)="filterTasks($event)">
            <mat-option [value]="taskStatuses.All">Усі</mat-option>
            <mat-option [value]="taskStatuses.New">Нові завдання</mat-option>
            <mat-option [value]="taskStatuses.Send">Надіслані</mat-option>
            <mat-option [value]="taskStatuses.Uploaded">Завантаженні</mat-option>
            <mat-option [value]="taskStatuses.Resolved">Виконані</mat-option>
            <mat-option [value]="taskStatuses.Failed">Невиконанні</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <app-table
      #table
      [checkboxes]="true"
      [statusKey]="'task_status'"
      [desiredStatus]="successStatus"
      [infoStatus]="infoStatus"
      [errorStatus]="errorStatus"
      (rowSelected)="onChange($event)"
      [hovered]="true"
      [bordered]="true"
      [tableData]="stationsTasks | async"
      [pagination]="true"
    >
      <app-column
        [date]="true"
        [width]="165"
        [columnTitle]="'Дата завдання'"
        [columnName]="'taskDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>
      c
      <app-column
        [width]="145"
        [columnTitle]="'Номер установки'"
        [columnName]="'stationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'ПІБ працівника'"
        [columnName]="'contactName'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Номер телефону'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Кількість заявок'"
        [columnName]="'verifCount'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>
      <!-- matTooltip="Додати відповідальну особу" Редагувати завдання, переглянути завдання, ексель, вибрати станцію-->
      <app-column [width]="185">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <!--<button mat-icon-button (click)="editList(row['id_task'])">
              <i
                class="icofont-listing-number color-info"
                matTooltip="Змінити порядок заявок в завданні"
              ></i>
            </button>-->

            <button
              *ngIf="selectedStatus === taskStatuses.Failed"
              color="primary"
              mat-icon-button
              (click)="viewFailed(row['id_task'])"
            >
              <mat-icon matTooltip="Переглянути завдання">format_list_numbered</mat-icon>
            </button>

            <button
              *ngIf="selectedStatus !== taskStatuses.Failed"
              color="primary"
              mat-icon-button
              (click)="viewList(row['id_task'])"
            >
              <mat-icon matTooltip="Переглянути завдання">format_list_numbered</mat-icon>
            </button>

            <button
              color="primary"
              mat-icon-button
              (click)="changeStationNumber(row['id_task'], row['stationNumber'])"
            >
              <mat-icon matTooltip="Змінити номер станції">open_in_new</mat-icon>
            </button>

            <button
              color="primary"
              mat-icon-button
              (click)="changeDate(row['id_task'], row['taskDate'])"
            >
              <mat-icon matTooltip="Змінити дату завдання">date_range</mat-icon>
            </button>

            <button mat-icon-button (click)="downloadExcel(row['id_task'])">
              <mat-icon class="color-success" matTooltip="Завантажити у форматі .xsl">
                file_copy
              </mat-icon>
            </button>

            <button mat-icon-button (click)="disbandTask(row['id_task'])">
              <mat-icon class="color-error" matTooltip="Розформувати завдання">
                cancel_schedule_send
              </mat-icon>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
