<div class="row">
  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <i class="icon icofont-chart-bar-graph"></i>
        Графік надходження заявок
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card class="example-card">
      <mat-card-header>
        <i class="icon icofont-listing-box"></i>
        Непризначені заявки
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
