<!-- Завдання Для Станцій -->
<mat-card>
  <mat-card-content>
    <div class="actions">
      <button mat-raised-button class="bg-success" (click)="sendData()">
        <i class="icon icofont-paper-plane"></i>
        Надіслати завдання
      </button>
    </div>

    <app-table [hovered]="true" [bordered]="true" [tableData]="stationsTasks" [pagination]="true">
      <app-column [width]="30">
        <ng-template #headerBodyTemplate>
          <mat-checkbox [ngStyle]="{'padding-top.px': 22}"></mat-checkbox>
        </ng-template>
        <ng-template #tableBodyTemplate let-row="row">
          <mat-checkbox (change)="onChange(row['id_task'], $event.checked)"></mat-checkbox>
        </ng-template>
      </app-column>

      <app-column [width]="115" [columnTitle]="'Дата завдання'" [columnName]="'taskDate'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Тип установки'" [columnName]="'stationType'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Номер установки'" [columnName]="'stationNumber'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'ПІБ контактної особи'" [columnName]="'contactName'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Номер телефону'" [columnName]="'phoneNumber'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Кількість заявок'" [columnName]="'verifCount'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>
      <!-- matTooltip="Додати відповідальну особу" Редагувати завдання, переглянути завдання, ексель, вибрати станцію-->
      <app-column [columnTitle]="'Дії'" [width]="95">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button (click)="viewList('unresolved/' + row['id_task'])">
              <i class="fas fa-table color-info" matTooltip="Переглянути завдання"></i>
            </button>

            <button mat-icon-button>
              <i class="fas fa-backspace color-error" matTooltip="Розформувати завдання"></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
