<h2 mat-dialog-title>Вибрати відповідальну особу</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Відповідальна особа" [(ngModel)]="selectedValue" name="food">
      <mat-option [value]="'Віталій Кришталюк'">
        Віталій Кришталюк
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="bg-success" mat-raised-button (click)="save()" >Зберегти</button>
  <button mat-button mat-dialog-close>Скасувати</button>
</mat-dialog-actions>
