<div mat-dialog-content class="content">
  <div class="protocol-block">
    <table class="protocol-table">
      <tr>
        <td>Номер заявки</td>
        <td>{{ data.applicationNumber }}</td>
      </tr>
      <tr>
        <td>Дата протоколу час п/н</td>
        <td>{{ data.date }}</td>
      </tr>
      <tr>
        <td>Номер установки</td>
        <td>{{ data.deviceNumber }}</td>
      </tr>
      <tr>
        <td>Номер лічильника</td>
        <td>{{ data.counterNumber }}</td>
      </tr>
      <tr>
        <td>Тип лічильника</td>
        <td>{{ data.type }} - {{ data.symbol }}</td>
      </tr>
      <tr>
        <td>Виробник</td>
        <td>{{ data.manufacturer }}</td>
      </tr>
      <tr>
        <td>Призначення лічильника</td>
        <td>{{ data.serviceType }}</td>
      </tr>
      <tr>
        <td>Температура</td>
        <td>{{ data.temperature }}</td>
      </tr>
      <tr>
        <td>Рік випуску</td>
        <td>{{ data.productionYear }}</td>
      </tr>
      <tr>
        <td>Накопичений об'єм</td>
        <td>{{ data.acumulatedVolume }}</td>
      </tr>
      <tr>
        <td>Статус витрат</td>
        <td
          [ngClass]="{
            success: data.isInZone === 'В зоні',
            error: data.isInZone === 'Не в зоні',
            unresolved: data.isInZone == 'Не обработан'
          }"
        >
          {{ data.isInZone }}
        </td>
      </tr>
      <tr>
        <td>Результат</td>
        <td
          [ngClass]="{
            success: data.result === 'Годен',
            error: data.result === 'Не годен',
            unresolved: data.result === 'Не обработан'
          }"
        >
          {{ data.result }}
        </td>
      </tr>
      <!-- <tr>
        <td>Дата підпису особи</td>
        <td></td>
      </tr>
      <tr>
        <td>ПІБ особи, що підписала</td>
        <td></td>
      </tr> -->
      <tr>
        <td>Статус</td>
        <td>{{ data.protocolStatus ? 'Розблоковано' : 'Заблоковано' }}</td>
      </tr>
    </table>

    <div class="controls">
      <div class="img d-flex flex-column">
        <img
          class="mb-3"
          (click)="changeProtocolData(data)"
          [ngStyle]="{ transform: 'rotate(' + angle + 'deg)' }"
          [src]="getImage(data.image)"
        />
        <div class="w-100 d-flex">
          <button mat-button color="warn" class="mr-2" mat-dialog-close>
            Закрити
          </button>

          <button mat-button (click)="saveProtocol()" color="primary">Зберегти</button>
        </div>
      </div>
      <div class="protocol-actions">
        <h3 class="action-title">Перегляд фото</h3>
        <div class="photo-actions mb-1">
          <button mat-icon-button color="primary" (click)="rotate(-90)">
            <i class="icofont-reply"></i>
          </button>

          <button mat-button color="primary" (click)="rotate(180)">180&#176;</button>

          <button mat-icon-button color="primary" (click)="rotate(90)" class="reverse">
            <i class="icofont-reply"></i>
          </button>
        </div>

        <div *ngIf="permission == 5 && !checked" class="protocol-actions">
          <button
            mat-raised-button
            class="bg-success"
            (click)="verificateProtocol(data.applicationNumber)"
          >
            Повірити
          </button>

          <button mat-stroked-button mat-dialog-close color="warn" (click)="rejectProtocol()">
            Відхилити
          </button>
        </div>

        <div *ngIf="permission == 5 && checked" class="protocol-actions flex-row pt-3 mt-5">
          <button (click)="downloadDoc()" mat-dialog-close mat-button class="bg-success">
            Завантажити документ
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="tests-block">
    <table class="test-table first">
      <tr>
        <td>Назва тесту</td>
      </tr>
      <tr>
        <td>Задана витрата м³/год</td>
      </tr>
      <tr>
        <td>Допустима похибка%</td>
      </tr>
      <tr>
        <td>Об'єм еталону, дм³</td>
      </tr>
      <tr>
        <td>Початкове значення лічильника, дм³</td>
      </tr>
      <tr>
        <td>Кінцеве значення лічильника, дм³</td>
      </tr>
      <tr>
        <td>Об'єм за лічильником, дм³</td>
      </tr>
      <tr>
        <td>Тривалість тесту, с</td>
      </tr>
      <tr>
        <td>Фактична витрата, м³/год</td>
      </tr>
      <tr>
        <td>Статус витрати</td>
      </tr>
      <tr>
        <td>Фактична похибка, %</td>
      </tr>
      <tr>
        <td>Результат тесту</td>
      </tr>
    </table>

    <div class="test" *ngFor="let test of data.tests">
      <table class="test-table">
        <tr>
          <td>{{ test.name }}</td>
        </tr>
        <tr>
          <td>{{ test.installedExes | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.assumedFault | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.etalonCapacity | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.initValue | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.finalValue | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.counterCapacity | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.testDuration | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ test.mediumExes | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td
            [ngClass]="{
              success: test.isInZone == 'В зоні',
              error: test.isInZone != 'В зоні'
            }"
          >
            {{ test.isInZone }}
          </td>
        </tr>
        <tr>
          <td>{{ test.calculatedFault | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <td
            [ngClass]="{
              success: test.result == 'Годен',
              error: test.result === 'Не годен',
              unresolved: test.result === 'Не обработан'
            }"
          >
            {{ test.result }}
          </td>
        </tr>
      </table>

      <div class="test-images">
        <img
          [ngStyle]="{ transform: 'rotate(' + angle + 'deg)' }"
          (click)="changeStartState(test)"
          [src]="getImage(test.startStateImage)"
        />
        <img
          [ngStyle]="{ transform: 'rotate(' + angle + 'deg)' }"
          (click)="changeEndState(test)"
          [src]="getImage(test.endStateImage)"
        />
      </div>
    </div>
  </div>
</div>
