<div class="protocol-block">
  <div class="labesl">
    <span class="label">Номер заявки</span>
    <span class="label">Дата протоколу час п/н</span>
    <span class="label">Номер установки</span>
    <span class="label">Системний номер установки</span>
    <span class="label">Номер лічильника</span>
    <span class="label">Тип лічильника</span>
    <span class="label">Призначення лічильника</span>
    <span class="label">Температура</span>
    <span class="label">Рік випуску</span>
    <span class="label">Накопичений об'єм</span>
    <span class="label">Широта</span>
    <span class="label">Довгота</span>
    <span class="label">Статус витрат</span>
    <span class="label">Результат</span>
    <span class="label">Дата підпису особи</span>
    <span class="label">ПІБ особи, що підписала</span>
    <span class="label">Статус</span>
  </div>

  <div class="inputs">
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.date || ''"></app-input>
    <app-input [innerValue]="data.deviceNumber || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.type || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.type || ''"></app-input>
    <app-input [innerValue]="data.temperature || ''"></app-input>
    <app-input [innerValue]="data.year || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.capacity  || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.status || ''"></app-input>
    <app-input [innerValue]="data.result || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
    <app-input [innerValue]="data.counterNumber || ''"></app-input>
  </div>
</div>

<div class="tests-block">
  <div class="labels">
    <span class="label">Задана витрата м³/год</span>
    <span class="label">Допустима похибка%</span>
    <span class="label">Об'єм еталону, дм³</span>
    <span class="label">Початкове значення лічильника, дм³</span>
    <span class="label">Кінцеве значення лічильника, дм³</span>
    <span class="label">Об'єм за лічильником, дм³</span>
    <span class="label">Тривалість тесту, с</span>
    <span class="label">Фактична витрата, м³/год</span>
    <span class="label">Статус витрати</span>
    <span class="label">Фактична похибка, %</span>
    <span class="label">Результат тесту </span>
  </div>

  <div class="test" *ngFor="let test of data.tests">
    <app-input [innerValue]="test.installedExes || ''"></app-input>
    <app-input [innerValue]="test.assumedFault || ''"></app-input>
    <app-input [innerValue]="test.etalonCapacity || ''"></app-input>
    <app-input [innerValue]="test.initValue || ''"></app-input>
    <app-input [innerValue]="test.finalValue || ''"></app-input>
    <app-input [innerValue]="test.counterCapacity || ''"></app-input>
    <app-input [innerValue]="test.testDuration || ''"></app-input>
    <app-input [innerValue]="test.mediumExes|| ''"></app-input>
    <app-input [innerValue]="test.isInZone || ''"></app-input>
    <app-input [innerValue]="test.calculatedFault || ''"></app-input>
    <app-input [innerValue]="test.result  || ''"></app-input>
  </div>
</div>
