@import "../../../../../assets/sass/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }

  .labels {
    display: flex;
    flex-direction: column;
  }

  .label {
    border: 1px solid #d1d1d1;
    border-right: none;
    display: block;
    padding: $module-rem / 2;
    margin: -1px 0;
    min-width: 180px;

    &:first-child {
      border-top-width: 2px;
      margin-bottom: -2px;
    }
  }

  .protocol-block {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin-right: $module-rem;

    .label {
      min-width: 220px !important;
    }

    .inputs {
      min-width: 240px;
    }
  }

  .tests-block {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 1400px;

    .inputs {
      min-width: 180px;
    }

    >* {
      flex: 1;
    }
  }

  .test-images {
    display: flex;
    flex-direction: column;

    img {
      min-width: 180px;
    }
  }
}
