@import '../../../../../assets/sass/variables';

:host {
  height: 100%;
  overflow-y: hidden;

  .content {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    max-height: 100%;
    height: 100%;
  }

  .table {
    background-color: transparent;
    margin-bottom: 0.5rem;
    max-width: 100%;
    width: 100%;

    tr {
      border-collapse: collapse;
      border-radius: 0.55rem;

      td {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        padding: 0.3rem;
        vertical-align: top;
        font-weight: 700;
        font-size: 0.9em;
        width: 260px;
      }

      td + td {
        border-left: none;
        font-weight: normal;
        width: auto;
      }
    }
  }

  .protocol-table {
    @extend .table;
  }

  .test-table {
    @extend .table;

    &.first {
      min-width: 232px;
    }

    min-width: 200px;
    max-width: 330px;
  }

  .protocol-block {
    display: flex;
    flex-direction: column;
    min-width: 520px;
    margin-right: $module-rem;
    flex: 1;

    .controls {
      display: flex;
      overflow: hidden;

      .img {
        display: flex;
        flex-direction: column;

        img {
          cursor: pointer;
          min-width: 260px;
          width: 260px;
        }
      }

      .metrology-actions {
        display: flex;
        margin: 0 (-$module-rem);

        > * {
          margin: ($module-rem);
        }
      }

      .protocol-actions {
        flex: 1;
        padding: 0 $module-rem;
        justify-content: center;

        .action-title {
          font-size: 1.2em;
          text-align: center;
          margin: 0 $module-rem 0 0;

          &:first-child {
            margin-top: 0;
          }
        }

        .reverse {
          transform: scaleX(-1);
        }

        .photo-actions {
          display: flex;
          justify-content: center;

          i {
            font-size: 1.6em;
          }

          > * {
            margin: ($module-rem);
          }
        }

        .protocol-actions {
          @extend .photo-actions;
        }
      }
    }
  }

  .tests-block {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 100%;

    > * {
      width: unset;
      flex: 1;
    }
  }

  .test-images {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    overflow: hidden;
    width: 100%;

    img {
      cursor: pointer;
      width: inherit;
    }
  }
}
