@import "../../../../../assets/sass/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    max-height: 100%;
  }
  
  .table {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    77 0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
    background-color: transparent;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;

    tr {
      border-collapse: collapse;
      border-radius: .25rem;

      td {
        border: 1px solid #dee2e6;
        padding: .4rem;
        vertical-align: top;
        font-style: bold;''
        width: 200px;
      }

      td+td {
        width: auto;
      }
    }
  }

  .protocol-table {
    @extend .table;
  }

  .test-table {
    @extend .table;
    
    &.first {
      min-width: 260px;
    }
    min-width: 200px;
    width: 200px;
  }

  .protocol-block {
    display: flex;
    flex-direction: row;
    min-width: 380px;
    width: 380px;
    margin-right: $module-rem;
  }

  .tests-block {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 1400px;


    >* {
      flex: 1;
    }
  }

  .test-images {
    display: flex;
    flex-direction: column;

    img {
      width: 200px;
    }
  }
}
