<h2 mat-dialog-title>{{ title }}</h2>

<form [formGroup]="contractorForm">
  <div class="full-width">
    <span>Назва</span>
    <mat-form-field class="input-field">
      <input matInput placeholder="Назва" formControlName="name">
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Рівень доступу</span>
    <mat-form-field class="input-field">
      <mat-select placeholder="Рівень доступу" formControlName="permission">
        <mat-option>--</mat-option>
        <mat-option [value]="2">Адмін</mat-option>
        <mat-option [value]="5">Метрологія</mat-option>
        <mat-option [value]="6">Надавач послуг</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Скасувати</button>
  <button mat-button color="primary" (click)="saveContractor()">Зберегти</button>
</mat-dialog-actions>
