<mat-card class="profile">
  <mat-card-title>
    Сторінка профілю
  </mat-card-title>

  <form *ngIf="user">
    <div class="full-width">
      <span>ПІБ</span>
      <mat-form-field class="input-field">
        <input [disabled]="true" matInput [value]="user.user_full_name" placeholder="ПІБ">
      </mat-form-field>
    </div>

    <div class="full-width">
      <span>Рівень доступу</span>
        <mat-form-field class="input-field">
          <input [disabled]="true" matInput [value]="user.permission" placeholder="Рівень Доступу">
        </mat-form-field>
    </div>

    <div class="full-width">
      <span>Логін</span>
      <mat-form-field class="input-field">
        <input [disabled]="true" matInput [value]="user.user_name" placeholder="Логін">
      </mat-form-field>
    </div>

    <div class="full-width">
      <span>Пароль</span>
      <mat-form-field class="input-field">
        <input [disabled]="true" #pass [value]="user.user_password" type="password" matInput placeholder="Пароль">
        <mat-icon class="pass-icon" (mouseenter)="pass.type = 'text'" (mouseleave)="pass.type = 'password'">
          remove_red_eye
        </mat-icon>
      </mat-form-field>
    </div>
  </form>
</mat-card>
