<mat-card>
  <mat-card-content>
    <app-table
      [checkboxes]="true"
      [desiredStatus]="'Повірено. Придатний'"
      [errorStatus]="'Повірено. Непридатний'"
      [hovered]="true"
      [bordered]="true"
      [tableData]="protocols | async"
      [pagination]="true"
    >
      <app-column
        [date]="true"
        [width]="140"
        [columnTitle]="'Дата створення протоколу'"
        [columnName]="'date'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'Номер установки'"
        [columnName]="'deviceNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'Номер протоколу'"
        [columnName]="'bbiFileName'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>


      <app-column
        [width]="200"
        [columnTitle]="'Статус'"
        [columnName]="'status'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="125"
        [columnTitle]="'Номер лічильника'"
        [columnName]="'counterNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column [columnTitle]="''" [width]="40">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button
              mat-icon-button
              (click)="displayProtocol(row['counterNumber'], row['protocolNumber'])"
            >
              <i
                class="icofont-edit color-info"
                matTooltip="Переглянути протокол"
              ></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
