@import '../../../../assets/sass/variables';

$header-bg: #f2f5f8;
$row-hover-bg: rgba(#f2f5f8, 0.8);
$active-bg: accent-palette(600);
$table-border: solid 1px rgba(#000, 0.08);
$scroll-height: 40 * $module;
$input-color: rgba(
  $color: #000000,
  $alpha: 0.9
);
$_animation: $animation;

:host {
  margin: 0;
  padding: 0;

  table {
    border: 1px solid rgba(#000, 0.16);
    border-radius: 3px;
    overflow: auto;
    width: 100%;

    tr {
      padding: ($module-rem / 2) 4px;
      transition: background 0.2s $_animation, border 0.2s $_animation, color 0.2s $_animation;
      width: 100%;

      &:hover {
        background: $row-hover-bg;
      }

      th,
      td {
        border-bottom: $table-border;
        padding: ($module-rem * 0.35) ($module-rem * 0.75);
        transition: background 0.25s $_animation, border 0.25s $_animation, color 0.2s $_animation;

        &:first-child,
        &:last-child {
          padding: $module-rem ($module-rem * 1.5);
        }
        &.checkboxes {
          width: 30px;
        }
        .search-box {
          max-height: 24px;

          > input {
            padding: ($module-rem / 4) ($module-rem / 2);
          }
          > * {
            padding: 1px 0;
            max-height: 22px;
          }
        }
      }
      th {
        align-items: center;
        background: $header-bg;
        opacity: 1;
        position: relative;
        margin: auto;
        width: 1px !important;
        white-space: nowrap !important;
        text-align: left;

        .title {
          padding-bottom: $module-rem;
          text-align: left;
        }
        .search-box {
          width: 100%;

          .tc-input {
            min-width: 3 * $module-rem;
          }
        }
        .icons {
          display: inline-block;
          float: right;
          opacity: 0.8;

          .arrows {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0 0 0 $module-rem;

            .up {
              transition: color 0.3s;

              &.active {
                color: accent-palette(600);
                opacity: 1;
              }
            }
            .down {
              transition: color 0.3s;

              &.active {
                color: accent-palette(600);
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .header-wrapper {
      display: flex;
      align-content: center;
    }
    &.stripped {
      > tbody {
        > tr:nth-child(odd) {
          background: $row-hover-bg;
        }
      }
    }
    &.bordered {
      > tbody {
        td {
          border: $table-border;
        }
      }
    }
  }
  .table-wrap {
    display: block;
    overflow: auto;
  }
  ::ng-deep {
    .table-row {
      align-items: center;
      display: flex;
      margin: 0 (-$module-rem / 2);

      .table-col {
        margin: 0 ($module-rem / 2);
      }
    }
  }
}
