@import '../../../../../assets/sass/variables';

:host {
  .content {
    display: flex;
    height: 100%;

    .protocol-img {
      border-radius: 3px;
      height: 326px;
      min-width: 406px;
      margin-right: $module-rem * 2;
    }

    .form {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: unset;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
