<h2 mat-dialog-title>Дані протоколу</h2>

<mat-dialog-content class="content">
  <img
    [ngStyle]="{ transform: 'rotate(' + angle + 'deg)' }"
    class="protocol-img"
    [src]="getImgSource()"
  />

  <form class="form" [formGroup]="counterFormGroup">
    <mat-form-field>
      <input
        matInput
        placeholder="Номер лічильника"
        value="{{ data.counterNumber }}"
        formControlName="counterNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Накопичений об'єм"
        value="{{ data.acumulatedVolume }}"
        formControlName="acumulatedVolume"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Типорозмір лічильника"
        value="{{ data.symbol }}"
        formControlName="symbol"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="serviceType" placeholder="Призначення лічильника">
        <mat-option [value]="'1'">Холодна вода</mat-option>
        <mat-option [value]="'2'">Гаряча вода</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Тип лічильника" value="{{ data.type }}" formControlName="type" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Рік виробництва"
        value="{{ data.productionYear }}"
        formControlName="productionYear"
      />
    </mat-form-field>

    <mat-form-field class="input-field">
      <input
        matInput
        placeholder="Виробник"
        formControlName="manufacturer"
        [matAutocomplete]="streets"
      />

      <mat-autocomplete #streets="matAutocomplete">
        <mat-option *ngFor="let manufacturer of filteredManufacturers | async" [value]="manufacturer">
          {{ manufacturer }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="bg-success" (click)="saveProtocol()">Зберегти</button>
  <button mat-button mat-dialog-close>Скасувати</button>
</mat-dialog-actions>
