@import "../../../assets/sass/variables";

:host {
	height: 100%;
	width: 100%;

	.content {
		height: 100%;
		overflow: auto;
		width: 100%;

		.main-content {
			padding: $module-rem * 2;
			margin: $navbar-height 0 0 $sidebar-width;
			transition: margin 0.3s $animation;
			
			@media #{min991} {
			  margin: $navbar-height 0 0 (2 * $module-rem) !important;
			}
			&.min {
				margin: $navbar-height 0 0 $min-sidebar-width;
			}
		}
	}
}