@import "../../../../assets/sass/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex: 1;
    max-height: unset !important;
  }

  form {
    padding-top: ($module-rem / 2);
    min-width: 150px;
    width: 100%;
  }

  .full-width {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.inline {
      >* {
        width: 36%;
      }
    }

    .input-field {
      width: 50%;
    }

    .inline-form {
      width: 65%;
      max-width: 65%;
      table-layout: fixed;

      .w-2 {
        width: (100% / 7);

        mat-form-field {
          width: 65%;
        }
      }

      .w-4 {
        width: 100% / 4;

        mat-form-field {
          width: 85%;
        }
      }

      .w-6 {
        width: 45%;

        mat-form-field {
          width: 100%;
        }
      }

    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: $module-rem;

    :first-child {
      margin-right: $module-rem / 2;
    }
  }
}