<h2 mat-dialog-title>{{ title }}</h2>

<form [formGroup]="employeeForm">
  <div class="full-width">
    <span>ПІБ</span>
    <mat-form-field class="input-field">
      <input matInput placeholder="ПІБ" formControlName="full">
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Рівень доступу</span>
    <mat-form-field class="input-field">
      <mat-select placeholder="Рівень доступу" formControlName="permissions">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let permission of (permissions | async)" [value]="permission.id">
          {{permission.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Логін</span>
    <mat-form-field class="input-field">
      <input matInput placeholder="Логін" formControlName="name">
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Пароль</span>
    <mat-form-field class="input-field">
      <input type="password" matInput placeholder="Пароль" formControlName="password">
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Скасувати</button>
  <button mat-button color="primary" (click)="saveEmployee()">Зберегти</button>
</mat-dialog-actions>
