<h2 mat-dialog-title>{{ title }}</h2>

<form [formGroup]="employeeForm">
  <div class="full-width">
    <span>ПІБ</span>
    <mat-form-field class="input-field">
      <input matInput placeholder="ПІБ" formControlName="full">
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Рівень доступу</span>
    <mat-form-field class="input-field">
      <mat-select placeholder="Рівень доступу" formControlName="permissions">
        <mat-option>--</mat-option>
        <ng-container *ngFor="let permission of (permissions | async)">
          <mat-option *ngIf="permission.id >= user.permission" [value]="permission.id">
            {{permission.value}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Логін</span>
    <mat-form-field class="input-field">
      <input matInput placeholder="Логін" formControlName="name">
    </mat-form-field>
  </div>

  <div class="full-width">
    <span>Пароль</span>
    <mat-form-field class="input-field">
      <input #pass type="password" matInput placeholder="Пароль" formControlName="password">
      <mat-icon class="pass-icon" (mouseenter)="pass.type = 'text'" (mouseleave)="pass.type = 'password'">
        remove_red_eye
      </mat-icon>
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="saveEmployee()" cdkFocusInitial>Зберегти</button>
  <button mat-button mat-dialog-close>Скасувати</button>
</mat-dialog-actions>
