<div class="container">

  <mat-card class="mb-0" >
    <form class="login-form mb-0">

			<h3 class="header-style">Вхід</h3>
			
			<p>Для входу пройдіть авторизацію</p>

      <mat-form-field class="full-width">
        <input matInput placeholder="Логін" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Будь ласка, <strong>введіть</strong> логін
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" [formControl]="passwordFormControl" type="password">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Будь ласка, <strong>введіть</strong> пароль
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="mb-0">
        <button mat-raised-button color="primary" (click)="authorization()">Увійти</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
