<input type="file" accept=".pdf" #file style="display: none" (change)="onFilesAdded()" multiple />

<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content class="content">
  <ng-container *ngIf="!uploading && !uploadedSuccesfully">
    <div>
      <button [disabled]="files.size > 0" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles($event)">
        Вибрати скан
      </button>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{ file.name }}</h4>
      </mat-list-item>
    </mat-list>
  </ng-container>

  <ng-container *ngIf="uploading && !uploadedSuccesfully">
    <mat-spinner class="spinner"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="uploadedSuccesfully">
    <h5>Успішно завантажено</h5>
  </ng-container>

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button *ngIf="!uploading" mat-raised-button mat-dialog-close>Закрити</button>

  <button *ngIf="!uploading && !uploadedSuccesfully" mat-raised-button color="primary" [disabled]="0 >= files.size"
    (click)="uploadFiles()">
    Завантажити
  </button>
</mat-dialog-actions>
