@import '../../../assets/sass/variables';

:host {
  .item {
    display: flex;
    width: 100%;

    >* {
      width: 100%;
    }
    .mat-list-item-content {
      width: 100%;
    }
    .mat-list-text {
      flex: 1;
    }
    .role {
      opacity: .6;
    }
  }
}