<div class="row">
  <div class="col-md-12 col-lg-6 mb-3">
    <mat-card>
      <mat-card-title>Працівники</mat-card-title>

      <mat-list>
        <h3 mat-subheader>Працівники</h3>
        <mat-list-item class="item" *ngFor="let employee of (employees | async)">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <p mat-line class="text mb-0"> {{ employee.user_full_name }}</p>
          <p *ngIf="permissions" mat-line class="role mb-0">{{ getUserPermission(employee.user_permissions) }}</p>


          <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані працівника"
            (click)="editEmployee(employee)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-icon-button matTooltip="Видалити працівника"
            (click)="deleteEmployee(employee)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <button class="mb-2" (click)="addEmployee()" mat-button color="primary">Додати</button>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Переносні станції</h3>

        <mat-list-item class="item" *ngFor="let station of (stations | async)">
          <mat-icon mat-list-icon>next_week</mat-icon>
          <p mat-line class="text"> {{ station.stationNumber }} </p>

          <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані станції" (click)="editStation(station)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-icon-button matTooltip="Видалити станцію" (click)="deleteStation(station)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <button class="mb-2" mat-button color="primary" (click)="addStation()">Додати</button>
      </mat-list>
    </mat-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <mat-card>
      <mat-card-title>Підрядники</mat-card-title>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let city of (cities | async); let i = index" [expanded]="i === step" (opened)="step = i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ city.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list>
            <ng-container *ngFor="let contractor of (contractors | async)">
              <button mat-list-item class="item" *ngIf="contractor.city_id === city.id" (click)="getMenu(contractor)">
                <div class="text">
                  <p mat-line class="mb-0">{{ contractor.name }}</p>
                  <p *ngIf="permissions" class="role mb-0" mat-line> {{ getContractorType(contractor.permission) }} </p>
                </div>

                <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані підрядника"
                  (click)="editContractor($event, contractor)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button class="edit-btn" mat-icon-button matTooltip="Видалити підрядника"
                  (click)="deleteContractor($event, contractor)">
                  <mat-icon>delete</mat-icon>
                </button>

              </button>
            </ng-container>
          </mat-action-list>

          <mat-action-row class="actions mb-0">
            <button class="edit-btn" mat-icon-button matTooltip="Змінити назву міста" (click)="editCity(city)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-button color="warn" (click)="deleteCity(city)">Видалити</button>

            <button mat-button class="right" (click)="addContractor($event, city)" color="primary">Додати</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-actions class="actions mb-0">
        <button mat-button color="primary" (click)="addCity()">Додати Місто</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
