<div class="row">
  <div class="col-sm-12 col-md-6">
    <mat-card>
      <mat-card-title>Працівники</mat-card-title>

      <mat-list>
        <h3 mat-subheader>Працівники</h3>
        <mat-list-item class="item" *ngFor="let employee of (employees | async)">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <p mat-line class="text"> {{ employee.user_full_name }} <span *ngIf="permissions" class="role"> &mdash; {{
              getUserPermission(employee.user_permissions) }} </span> </p>

          <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані працівника" (click)="editEmployee(employee)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-icon-button matTooltip="Видалити працівника" (click)="deleteEmployee(employee)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <button class="mb-2" (click)="addEmployee()" mat-button color="primary">Додати</button>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Переносні станції</h3>

        <mat-list-item class="item" *ngFor="let station of (stations | async)">
          <mat-icon mat-list-icon>next_week</mat-icon>
          <p mat-line class="text"> {{ station.stationNumber }} </p>

          <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані станції" (click)="editStation(station)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-icon-button matTooltip="Видалити станцію" (click)="deleteStation(station)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <button class="mb-2" mat-button color="primary" (click)="addStation()">Додати</button>
      </mat-list>
    </mat-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <mat-card>
      <mat-card-title>Підрядники</mat-card-title>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Луцьк
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-list>
            <button mat-list-item (click)="getMenu('3','Волиньстандартметрологія')">ДП "Волиньстандартметрологія"</button>
            <button mat-list-item (click)="getMenu('2', 'ЛУЦЬКВОДОКАНАЛ')">КП "ЛУЦЬКВОДОКАНАЛ"</button>
            <button mat-list-item (click)="getMenu('2', 'ЛУЦЬКТЕПЛО')">
              КП "ЛУЦЬКТЕПЛО"

              <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані станції" (click)="addContractor($event)">
                <mat-icon>edit</mat-icon>
              </button>
            </button>
          </mat-action-list>

          <mat-action-row class="actions">
            <button class="edit-btn" mat-icon-button matTooltip="Редагувати дані станції" (click)="editStation(station)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-button color="warn">Видалити</button>

            <button mat-button class="right" (click)="addContractor($event, city.id)" color="primary">Додати</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-actions class="actions">
        <button mat-button color="primary" (click)="addCity()">Додати Місто</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
