<mat-card>
  <mat-card-content>
    <div class="actions">
      <div class="user-actions">
        <button
          mat-raised-button
          color="primary"
          class="bg-success"
          (click)="addEmployeeToSelected()"
          [disabled]="selectedData.length <= 0"
        >
          <mat-icon class="mr-1">send</mat-icon> Надіслати
        </button>

        <button
          (click)="rejectSelectedVerifications()"
          [disabled]="selectedData.length <= 0"
          mat-raised-button
          color="warn"
        >
          <mat-icon class="mr-1">cancel</mat-icon>Відхилити Повірку
        </button>
      </div>
    </div>

    <app-table
      [checkboxes]="true"
      [desiredStatus]="'Визначено відповідальну особу'"
      (rowSelected)="onChange($event)"
      [hovered]="true"
      [bordered]="true"
      [tableData]="newVerifications | async"
      [pagination]="true"
    >
      <app-column
        [columnTitle]="'Номер Заявки'"
        [columnName]="'applicationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [date]="true"
        [columnTitle]="'Дата Надходження Заявки'"
        [columnName]="'addingDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Клієнт'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Надавач Послуг'"
        [columnName]="'serviceProvider'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Район'"
        [columnName]="'district'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Вулиця'"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Будинок'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="90"
        [columnTitle]="'Квартира'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="120"
        [columnTitle]="'Телефон'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="110"
        [columnTitle]="'Примітка'"
        [columnName]="'note'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column [columnTitle]="'Дії'" [width]="145">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button (click)="detailView(row['applicationNumber'])">
              <i class="icon icofont-info-circle color-info" matTooltip="Інформація"></i>
            </button>

            <button mat-icon-button (click)="checkForDuplicate(row)">
              <i class="far fa-copy color-info" matTooltip="Перевірити на дублі"></i>
            </button>

            <button mat-icon-button (click)="rejectVerification(row['applicationNumber'])">
              <mat-icon class="color-error" matTooltip="Відхилити повірку">cancel</mat-icon>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
