<mat-card>
  <mat-card-content>
    <div class="actions">
      <div class="task-actions">
        <app-new-verification></app-new-verification>
        <button mat-raised-button color="primary"><i class="icofont-search-document"></i> Глобальний Пошук</button>
      </div>

      <div class="user-actions">
        <button mat-raised-button color="primary" class="bg-success" (click)="addEmployeeToSelected()">
          <i class="icofont-ui-user"></i> Додати ДійовуОсобу
        </button>

        <!-- <button mat-raised-button color="primary" class="bg-warning">
          <i class="icofont-delete"></i> Скасувати Дійову Особу
        </button> -->

        <button mat-raised-button color="warn">
          <i class="icofont-minus"></i>Відхилити Повірку
        </button>
      </div>
    </div>

    <app-table [hovered]="true" [bordered]="true" [tableData]="(newVerifications | async)" [pagination]="true">
      <app-column [width]="30">
        <ng-template #headerBodyTemplate>
          <mat-checkbox [ngStyle]="{'padding-top.px': 22}"></mat-checkbox>
        </ng-template>
        <ng-template #tableBodyTemplate let-row="row">
          <mat-checkbox (change)="onChange(row['applicationNumber'], $event.checked)"></mat-checkbox>
        </ng-template>
      </app-column>

      <app-column [columnTitle]="'Номер Заявки'" [columnName]="'applicationNumber'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Дата Надходження Заявки'" [columnName]="'addingDate'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Клієнт'" [columnName]="'client'" [enableSorting]="true" [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Надавач Послуг'" [columnName]="'serviceProvider'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Район'" [columnName]="'district'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Вулиця'" [columnName]="'street'" [enableSorting]="true" [enableFiltering]="true"></app-column>

      <app-column [width]="75" [columnTitle]="'Будинок'" [columnName]="'house'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="90" [columnTitle]="'Квартира'" [columnName]="'apartment'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>
      <!-- TODO: add fields to Database & Rename fields -->
      <app-column [columnTitle]="'Бажана дата повірки'" [columnName]="'favorDate'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Cправність Сантехніки'" [columnName]="'sanitaryWellfare'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="115" [columnTitle]="'Вода відсутня до'" [columnName]="'waterAbsentTo'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="140" [columnTitle]="'Наявність пломби'" [columnName]="'haveSeal'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="120" [columnTitle]="'Телефон'" [columnName]="'phoneNumber'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [width]="110" [columnTitle]="'Примітка'" [columnName]="'note'" [enableSorting]="true"
        [enableFiltering]="true"></app-column>

      <app-column [columnTitle]="'Дії'" [width]="125">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button (click)="detailView(row['applicationNumber'])">
              <i class="icon icofont-info-circle color-info" matTooltip="Інформація"></i>
            </button>

            <button *ngIf="!row['employeeName'].length" mat-icon-button (click)="addEmployee(row['applicationNumber'])">
              <i class="icofont-ui-user color-success" matTooltip="Додати відповідальну особу"></i>
            </button>

            <button *ngIf="row['employeeName'].length" mat-icon-button (click)="cancellEmployee(row['applicationNumber'])">
              <i class="fas fa-user-times color-warning" matTooltip="Скасувати відповідальну особу"></i>
            </button>

            <button mat-icon-button (click)="checkForDuplicate(row)">
              <i class="far fa-copy color-info" matTooltip="Перевірити на дублі"></i>
            </button>

            <button mat-icon-button (click)="deleteVerification(row['applicationNumber'])">
              <i class="icofont-ui-delete color-error" matTooltip="Видалити заявку"></i>
            </button>

            <button mat-icon-button (click)="rejectVerification(row['applicationNumber'])">
              <i class="fas fa-ban color-error" matTooltip="Відхилити заявку"></i>
            </button>

            <button mat-icon-button (click)="showClientInfo(row['applicationNumber'])">
              <i class="icofont-info color-info" matTooltip="Інформація про клієнта"></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>

