<mat-card>
  <mat-card-content>
    <app-table
      (rowSelected)="onChange($event)"
      [hovered]="true"
      [bordered]="true"
      [tableData]="newVerifications | async"
      [pagination]="true"
    >
      <app-column
        [columnTitle]="'Номер Заявки'"
        [columnName]="'applicationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [date]="true"
        [columnTitle]="'Дата Надходження Заявки'"
        [columnName]="'addingDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Клієнт'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Надавач Послуг'"
        [columnName]="'serviceProvider'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Район'"
        [columnName]="'district'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Вулиця'"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Будинок'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="90"
        [columnTitle]="'Квартира'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="110"
        [columnTitle]="'Примітка'"
        [columnName]="'note'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column [columnTitle]="''" [width]="85">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <button mat-icon-button (click)="detailView(row['applicationNumber'])">
              <i class="icon icofont-info-circle color-info" matTooltip="Інформація"></i>
            </button>

            <button mat-icon-button (click)="addEmployee(row['applicationNumber'])">
              <i class="icofont-ui-user color-success" matTooltip="Додати відповідальну особу"></i>
            </button>

            <button mat-icon-button (click)="checkForDuplicate(row)">
              <i class="far fa-copy color-info" matTooltip="Перевірити на дублі"></i>
            </button>

            <!-- <button mat-icon-button (click)="deleteVerification(row['applicationNumber'])">
              <i class="icofont-ui-delete color-error" matTooltip="Видалити заявку"></i>
            </button> -->

            <button mat-icon-button (click)="rejectVerification(row['applicationNumber'])">
              <i class="fas fa-ban color-error" matTooltip="Відхилити заявку"></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
