<h2 mat-dialog-title>Детальніше</h2>

<div mat-dialog-content class="content">
  <mat-tab-group>
    <mat-tab [label]="'Загальна відомості'">
      <form class="pt-3" [formGroup]="generalDataForm">
        <div class="full-width">
          <span>Прізвище</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Прізвище" formControlName="surname" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Ім'я</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Ім'я" formControlName="name" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>По-батькові</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="По-батькові" formControlName="middlename" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Номер телефону</span>
          <mat-form-field class="input-field">
            <input matInput #phone placeholder="Телефон" maxlength="12" formControlName="phoneNumber" />
          </mat-form-field>
        </div>

        <!--        <div class="full-width inline">-->
        <!--          <div class="d-flex justify-content-between align-items-center">-->
        <!--            <span>Юридична особа</span>-->
        <!--            <div class="input-field">-->
        <!--              <mat-checkbox #isEntity></mat-checkbox>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div *ngIf="isEntity.checked" class="full-width">-->
        <!--          <span>ІПН</span>-->
        <!--          <mat-form-field class="input-field">-->
        <!--            <input matInput placeholder="Індивідуальний податковий номер" formControlName="ipn" />-->
        <!--          </mat-form-field>-->
        <!--        </div>-->
      </form>
    </mat-tab>

    <mat-tab [label]="'Місцезнаходження'">
      <form class="pt-3" [formGroup]="locationForm">
        <div class="full-width">
          <span>Область</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Область" formControlName="region" value="Волинська" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Район</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Район" formControlName="district" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Населений пункт</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Населений пункт" formControlName="settlement" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Вулиця</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Вулиця" formControlName="street" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Будинок</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Будинок" formControlName="house" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Квартира</span>
          <mat-form-field class="input-field">
            <input matInput placeholder="Квартира" formControlName="apartment" />
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Лічильник</span>

          <table class="inline-form" cellspacing="0">
            <tr>
              <td class="w-4">
                <mat-form-field>
                  <mat-select formControlName="serviceType">
                    <mat-option [value]="'0'">Холодна вода</mat-option>
                    <mat-option [value]="'1'">Гаряча вода</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="w-6">
                <mat-form-field>
                  <mat-select formControlName="serviceProvider">
                    <mat-option [value]="'13270431'">КП "ЛУЦЬКВОДОКАНАЛ"</mat-option>
                    <mat-option [value]="'26366904'">ДКП "ЛУЦЬКТЕПЛО"</mat-option>
                    <mat-option [value]="'49672834'">УВГК "Ковельводоканал"</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>

        <div class="full-width w-100">
          <div class="d-flex justify-content-between w-100 align-items-center">
            <mat-checkbox [labelPosition]="'before'" formControlName="isUnique">
              Перевірено на дублі
            </mat-checkbox>

            <button
              class="ml-4"
              mat-raised-button
              color="primary"
              matTooltip="Перевірити на дублі"
              (click)="checkForDupliacates()"
            >
              <i class="icofont-copy"></i>
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab [label]="'Додаткова інформація'">
      <form [formGroup]="additionalDataForm" class="pt-3">
        <div class="full-width py-2 mb-4">
          <span>Час проведення повірки</span>
          <div class="input-field form-group mb-0">
            <nz-time-picker
              [nzMinuteStep]="10"
              formControlName="favorTime"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </div>
        </div>

        <div class="full-width">
          <span>Примітка</span>
          <mat-form-field class="input-field">
            <mat-label>Примітка</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5 "
              cdkAutosizeMaxRows="10"
              formControlName="note"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="full-width">
          <span>Коментар</span>
          <mat-form-field class="input-field">
            <mat-label>Коментар</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="10"
              formControlName="comment"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="sendData()">
    Зберегти
  </button>

  <button mat-button mat-dialog-close>Скасувати</button>
</div>
