@import "../../../../assets/sass/variables";

$item-color: #bdc9db;

:host {
  display: block;
	height: 100%;
  padding: ($module-rem * 2) 0;
  width: 100%;

	.main-menu {
	  list-style-type: none;
    padding: 0;
    font-size: 0.9;
    font-weight: 300;
		
		.main-item {
      align-items: center;
			height: 5 * $module-rem;
			display: flex;

			.item-link {
        align-items: center;
        color: $item-color;
				cursor: pointer;
        padding: 0 ($module-rem);
        position: relative;
				display: flex;
				height: 100%;
				text-decoration: none;
				transition: 
					background .2s $animation,
					color .2s $animation;
				width: 100%;

				&:hover,
				&.active {
				  color: lighten($color: $item-color, $amount: 25);
				  background: rgba(#000, .15);
				}
				.item-icon {
				  font-size: 1.4em;
				  margin-bottom: 2px;
				  margin-right: $module-rem * 1.5;
				}
				.item-text {
					transition: visibility 0s, width .2s;
					transition-delay: .2s ;
        }
        .item-badge {
          margin-left: auto;
          font-size: 0.9em;
        }
			}
		}
	}
	&.min {
    width: $min-sidebar-width;
    
		.main-item {
			.item-link {
				.item-text {
					transition-delay: 0s !important;
					visibility: hidden;
          width: 0;
				}
			}
		}
	}
}