<div class="navbar-wraper">
  <div class="logo">
    <img src="../../../../assets/content/logo.png" alt="" class="logo-img" />
  </div>

  <div
    class="nav-button"
    (click)="onButtonClick()"
    [ngClass]="{ min: !menuState }"
    *ngIf="permission !== 0"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <div class="page-title" [class.opened]="!!menuState">
    <h4 class="m-0">{{ pageTitle }}</h4>
  </div>

  <div class="upload" *ngIf="permission == 0">
    <button
      *ngIf="router.url.includes('shared/status')"
      mat-raised-button
      color="primary"
      [routerLink]="['/shared/new-verif']"
    >
      Створити повірку
    </button>
    <button
      *ngIf="!router.url.includes('shared/status')"
      mat-raised-button
      color="primary"
      [routerLink]="['/shared/status']"
    >
      Статус лічильника
    </button>
  </div>
  <div class="upload">
    <app-new-verification class="mr-2" *ngIf="![0, 5].includes(permission)"></app-new-verification>
    <app-file-upload *ngIf="![0, 5, 6].includes(permission)"></app-file-upload>
  </div>
</div>
