@import '../../../../assets/sass/variables';

:host {
  background: $navbar-bg;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  color: #212529 !important;
  display: block;
  position: fixed;
  height: $navbar-height;
  width: 100%;
  transition: left 0.3s $animation, width 0.3s $animation;
  z-index: 999;

  .navbar-wraper {
    align-items: center;
    display: flex;
    padding: 0 (2 * $module-rem) 0 0;
    height: 100%;

    .logo {
      align-items: center;
      display: flex;
      margin-right: ($module-rem * 2);
      justify-content: center;
      overflow: hidden;
      width: $min-sidebar-width;

      .logo-img {
        max-height: 8 * ($module-rem);
      }
    }

    .nav-button {
      cursor: pointer;
      display: flex;
      height: 22px;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 26px;

      .bar {
        background: #27313f;
        border-radius: 2px;
        display: block;
        margin-right: auto;
        min-height: 2px;
        height: 2px;
        max-height: 2px;
        margin: 0;
        transition: width 0.2s $animation;
        z-index: 10;

        &:nth-child(1) {
          width: 50%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 75%;
        }
      }

      &:hover {
        > * {
          width: 100% !important;
        }
      }

      &.min {
        span {
          margin-left: auto;
        }
      }
    }
    .back-btn {
      margin-left: $module-rem * 3;

      .icon {
        font-size: 1.5em;
      }
    }
    .upload {
      margin-left: auto;
    }
    .page-title {
      margin-left: $module-rem * 2;

      &.opened {
        margin-left: $module-rem * 12.5;
      }
    }
  }
}
