@import "../../../../assets/sass/variables";

:host {
	background: $sidebar-bg;
	box-shadow: 
		1px 0 4px -1px rgba(0, 0, 0, .18),
		1px 0 4px 0 rgba(0, 0, 0, .12),
    1px 0 4px 0 rgba(0, 0, 0, .1);
  color: rgba(#fff, 0.9);
	height: calc(100% - #{$navbar-height});
	overflow-y: auto;
	overflow-x: hidden;
  padding: 0;
	position: fixed;
  top: $navbar-height;
	transition: width 0.3s $animation;
	width: $sidebar-width;

	@media #{max991} {
		left: -100%;
  }
  
	&.open {
		left: 0;
	}
	&.min {
		width: $min-sidebar-width;

		@media #{max991} {
			width: $sidebar-width;
			left: -100%;
		}
	}
}