@import "../../../../assets/sass/variables";

:host {
	background: $sidebar-bg;
	box-shadow: 
		1px 0 4px -1px rgba(0, 0, 0, .18),
		1px 0 4px 0 rgba(0, 0, 0, .12),
    1px 0 4px 0 rgba(0, 0, 0, .1);
  color: rgba(#fff, 0.9);
	height: calc(100% - #{$navbar-height});
	overflow-y: auto;
	overflow-x: hidden;
  padding: 0;
	position: fixed;
  top: $navbar-height;
	transition: width 0.3s $animation;
	width: $sidebar-width;

	@media #{max991} {
		left: -100%;
  }
  
	&.open {
		left: 0;
	}
	&.min {
		width: $min-sidebar-width;

		@media #{max991} {
			width: $sidebar-width;
			left: -100%;
		}
  }
  .user-block {
    font-size: 1.2em;
    padding: $module-rem 0;
    background: #0c2c40ed;
    background-image: url('../../../../assets/content/user-bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    .user-info {
      align-items: center;
      display: flex;
      padding-top: 3 * $module-rem;
      justify-content: space-between;
      width: 100%;
      padding: 0 $module-rem;
    }
  }
}