<!-- Архів Повірок -->
<mat-card>
  <mat-card-content>
    <!--    <div class="actions">-->
    <!--      <button-->
    <!--        mat-raised-button-->
    <!--        color="primary"-->
    <!--        (click)="dateStatus = true"-->
    <!--        *ngIf="!dateStatus"-->
    <!--      >-->
    <!--        Встановити дату видачі-->
    <!--      </button>-->

    <!--      <div class="date" *ngIf="dateStatus">-->
    <!--        <div class="form-field w-100 mb-3">-->
    <!--          <nz-date-picker [nzShowToday]="false" [ngStyle]="{ width: '100%' }" [(ngModel)]="currentDate" ></nz-date-picker>-->
    <!--        </div>-->
    <!--        <button-->
    <!--          mat-raised-button-->
    <!--          color="primary"-->
    <!--          (click)="setIssueDate(); dateStatus = false"-->
    <!--        >-->
    <!--          Встановити-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->

    <app-table
      (rowSelected)="onChange($event)"
      [checkboxes]="true"
      [hovered]="true"
      [bordered]="true"
      [tableData]="verificationsArchive | async"
      [pagination]="true"
    >
      <app-column
        [date]="true"
        [width]="200"
        [columnTitle]="'Дата надходження'"
        [columnName]="'addingDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер заявки'"
        [columnName]="'applicationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column [width]="50" [columnTitle]="''">
        <ng-template #tableBodyTemplate let-row="row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>build</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ver">
              <span>Повірка</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="protocol">
              <span>Протокол</span>
            </button>
          </mat-menu>

          <mat-menu #ver="matMenu">
            <button (click)="detailView(row['applicationNumber'])" mat-menu-item>
              <mat-icon>info</mat-icon>
              Детальніше
            </button>

            <button
              (click)="
                editProvider(row['applicationNumber'], row['serviceProvider'], row['serviceType'])
              "
              mat-menu-item
            >
              <mat-icon>edit</mat-icon>
              Змінити надавача послуг
            </button>

            <button (click)="addScan(row['applicationNumber'])" mat-menu-item>
              <mat-icon>attach_file</mat-icon>
              Прикріпити скан документів
            </button>
          </mat-menu>

          <mat-menu #protocol="matMenu">
            <button (click)="displayProtocol(row['counterNumber'])" mat-menu-item>
              <mat-icon>more</mat-icon>
              Детальніше
            </button>

            <button (click)="downloadDoc(row['protocolNumber'])" mat-menu-item>
              <mat-icon>file_copy</mat-icon>
              Завантажити документ
            </button>
          </mat-menu>
        </ng-template>
      </app-column>

      <app-column
        [width]="220"
        [columnTitle]="'ПІБ Клієнта'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Населений пункт'"
        [columnName]="'settlement'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="200"
        [columnTitle]="'Вулиця клієнта'"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="40"
        [columnTitle]="'Будинок'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="40"
        [columnTitle]="'Квартира'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер телефону'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="150"
        [columnTitle]="'Статус'"
        [columnName]="'status'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер установки'"
        [columnName]="'stationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер протоколу'"
        [columnName]="'protocolNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [date]="true"
        [width]="75"
        [columnTitle]="'Дата підпису протоколу'"
        [columnName]="'protocolSignDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Номер лічильника'"
        [columnName]="'counterNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Придатний до'"
        [columnName]="'suitableFor'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="200"
        [columnTitle]="'Надавач послуг'"
        [columnName]="'serviceProvider'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-row="row">
          {{ providersSv.getProviderById(row['serviceProvider']) }}
        </ng-template>
      </app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Тип послуги'"
        [columnName]="'serviceType'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Коментар'"
        [columnName]="'comment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [date]="true"
        [width]="75"
        [columnTitle]="'Дата завдання'"
        [columnName]="'taskDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Примітка'"
        [columnName]="'note'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>
    </app-table>
  </mat-card-content>
</mat-card>
