<mat-card>
  <mat-card-content>
    <app-table
      [hovered]="true"
      [bordered]="true"
      (rowSelected)="onChange($event)"
      [tableData]="newVerifications | async"
      [pagination]="true"
    >
      <app-column
        [columnTitle]="'Номер Заявки'"
        [columnName]="'applicationNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Номер Лічильника'"
        [columnName]="'counterNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [date]="true"
        [columnTitle]="'Дата Надходження Заявки'"
        [columnName]="'addingDate'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Клієнт'"
        [columnName]="'client'"
        [enableSorting]="true"
        [enableFiltering]="true"
        [width]="260"
      ></app-column>

      <app-column
        [width]="115"
        [columnTitle]="'Район'"
        [columnName]="'district'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [columnTitle]="'Вулиця'"
        [columnName]="'street'"
        [enableSorting]="true"
        [enableFiltering]="true"
        [width]="200"
      ></app-column>

      <app-column
        [width]="75"
        [columnTitle]="'Будинок'"
        [columnName]="'house'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="90"
        [columnTitle]="'Квартира'"
        [columnName]="'apartment'"
        [enableSorting]="true"
        [enableFiltering]="true"
      ></app-column>

      <app-column
        [width]="120"
        [columnTitle]="'Телефон'"
        [columnName]="'phoneNumber'"
        [enableSorting]="true"
        [enableFiltering]="true"
      >
        <ng-template #tableBodyTemplate let-val>
          {{ val ? '+380' + val : '' }}
        </ng-template>
      </app-column>

      <app-column [columnTitle]="''" [width]="120">
        <ng-template #tableBodyTemplate let-row="row">
          <div class="actions-row">
            <!-- TODO: ПЕРЕРОБИТИ ПЕРЕВІРКУ НА ДУБЛІ -->

            <button
              *ngIf="row['scanFile']"
              mat-icon-button
              (click)="getScan(row['applicationNumber'])"
            >
              <i
                class="far fa-file-pdf color-info"
                matTooltip="Отримати скан документів"
              ></i>
            </button>
            <button
              mat-icon-button
              (click)="deleteVerification(row['applicationNumber'])"
            >
              <i class="icofont-ui-delete color-error" matTooltip="Видалити заявку"></i>
            </button>
          </div>
        </ng-template>
      </app-column>
    </app-table>
  </mat-card-content>
</mat-card>
