<button mat-icon-button (click)="detailView(row['applicationNumber'])">
  <mat-icon class="color-info" matTooltip="Інформація">
    info
  </mat-icon>
</button>

<button mat-icon-button (click)="clientInaccesable(row['applicationNumber'])">
  <mat-icon class="color-error" matTooltip="Недозвон">phone_missed</mat-icon>
</button>

<button
  mat-icon-button
  (click)="rejectVerification(row['applicationNumber'])"
>
  <mat-icon class="color-error" matTooltip="Відхилити повірку">
    cancel
  </mat-icon>
</button>
