@import "./variables";

.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.nowrap {
  white-space: nowrap !important;
}
mat-card {
	overflow: hidden;
}
mat-card-header {
	align-items: center;
	background: main-palette(500);
	color: rgba(#fff, 0.95);
	display: flex;
	font-size: 1.2em;
	font-family: "Roboto";
	padding: 8px  16px !important;
	margin: -16px !important;
	margin-bottom: 16px !important;

	.icon {
		font-size: 1.2em;
		margin-right: $module-rem;
	}
	.mat-card-header-text {
		margin: 0;
	}
}
.chart-container {
  height: 200px !important;
  position: relative;
  overflow: hidden;

  &.container-h-100 {
    height: 100px !important;
  }
  &.container-h-50 {
    height: 50px !important;
  }
  &.container-h-300 {
    height: 300px !important;
  }
  &.negative-indents {
    margin-top: -$module-rem * 2;
    margin-bottom: -$module-rem * 2;
  }
}
