@import '/mixins';

$background: #ebf2f6;
$default-color: #464D69;
$main-ff: 'Rubik', sans-serif;
$main-fs: 14px;
$main-fw: 400;
$module: 11px;
$main-lh: 1.58;
$module-rem: ($module / $main-fs) * 1rem;
$shape: 5px;

//Media
$max543 : only screen and (max-width: 543px);
$min544 : only screen and (min-width: 544px);
$max767 : only screen and (max-width: 767px);
$min768 : only screen and (min-width: 768px);
$max991 : only screen and (max-width: 991px);
$min992 : only screen and (min-width: 992px);
$max1199 : only screen and (max-width: 1199px);
$min1200 : only screen and (min-width: 1200px);

$mobile-breakpoint: 767px;
$tablet-breakpoint: 992px;
$laptop-breakpoint: 1200px;

$logo-bg: #ffffff;

$navbar-height: 6 * $module-rem;
$navbar-bg: #fff;

$primary-bg: #f8f9fa;
$primary-light: #ffffff;

$sidebar-width: 24 * $module-rem;
$min-sidebar-width: 9 * $module-rem;
$sidebar-bg: #27313f;


$animation: ease-in-out;

$gradient: linear-gradient(to right, #2490b1, #196074);
$hover-gradient: linear-gradient(to right, lighten(#2490b1, 5%), lighten(#196074, 5%));

$accent-color: #e22a6f;
$success-color: #28a30a;
$success-contrast: #fff;
$info-color: #486ad1;
$info-contrast: #fff;
$warning-color: #ffa718;
$warning-contrast: #fff;
$error-color: #f81418;
$error-contrast: #fff;

$main-palette: (50 : #e6e6e6,
100 : #c1c0c0,
200 : #989696,
300 : #6e6c6c,
400 : #4f4d4d,
500 : #302d2d,
600 : #2b2828,
700 : #242222,
800 : #1e1c1c,
900 : #131111,
A100 : #f36666,
A200 : #f03737,
A400 : #f30000,
A700 : #da0000,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

@function main-palette($key: $main-palette) {
  @return map-get($main-palette, $key);
}

@function main-contrast($key: $main-palette) {
  @return map-get(map-get($main-palette, contrast), $key);
}

$accent-palette: (50 : #d2eff7,
100 : #bfe7f2,
200 : #95d6ea,
300 : #6ac6e1,
400 : #3192af,
500 : #2490b1,
600 : #1d6b83,
700 : #196074,
800 : #0d3440,
900 : #041115,
A100 : #fffcfc,
A200 : #bfeffd,
A400 : #a8dff0,
A700 : #95d6ea,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

@function accent-palette($key: $accent-palette) {
  @return map-get($accent-palette, $key);
}

@function accent-contrast($key: $accent-palette) {
  @return map-get(map-get($accent-palette, contrast), $key);
}
