.ag-theme-balham {
  font-size: 1.1rem;
  font-weight: 400;
  box-shadow: 0 2px 1px -1px rgba(#000, 0.2), 0 1px 1px 0 rgba(#000, 0.14),
    0 1px 3px 0 rgba(#000, 0.12);

  .ag-floating-filter-button {
    display: none;
  }
  .ag-row {
    height: 36px !important;
  }
  .ag-header-cell,
  .ag-cell {
    &:first-child {
      padding-left: 12px;
    }

    line-height: 28px;
    padding: 4px 6px;
  }
}

::-webkit-scrollbar {
  background: #f4f4f4;
  width: 7px;
  height: 7px;
  position: absolute;

  &-thumb {
    width: 6px;
    border-radius: 20px;
    background-color: rgba(#b7b5b5, 0.7);
  }
}
.ag-floating-filter-input {
  padding: 1px 6px;
}
::-webkit-scrollbar-corner {
  background: #ccc;
}
