.ag-theme-balham {
  font-size: 1.1rem;
  font-weight: 400;
  box-shadow: 0 2px 1px -1px rgba(#000, 0.2), 0 1px 1px 0 rgba(#000, 0.14),
    0 1px 3px 0 rgba(#000, 0.12);

  .ag-floating-filter-button {
    display: none;
  }
  .ag-row {
    height: 32px !important;
  }
  .ag-header-cell,
  .ag-cell {
    line-height: 24px;
    padding: 2px 12px;
  }
}
