@import '~ag-grid-community/dist/styles/ag-grid.css';

// @import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';
@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham';
@import './bootstrap/bootstrap.scss';
@import '/variables';
@import '/fonts';
@import '/typography';
@import '/helpers';
@import 'ag-grid';

@import '~ng-zorro-antd/date-picker/style/index.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  background: $primary-bg;
  color: $default-color;
  font-family: $main-ff;
  font-size: 14px;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

app {
  display: block;
  height: 100%;
}
